services:
  proxy:
    image: acroca/fitm-proxy:latest
    ports:
      - "8080:8080"
    links:
      - vault
    volumes:
      - ./dotmitmproxy:/root/.mitmproxy
    environment:
      VAULT_ADDRESS: http://vault:8200

  vault:
    image: vault:1.9.4
    cap_add:
      - IPC_LOCK
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: myroot
